
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.output {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 600px;
  height: 300px;
  border: 2px solid rgb(51, 51, 51);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px
}

.output-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.output label {
  font-weight: bold;
}

.slidecontainer {
  width: 300px; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #589fc0;
  cursor: pointer;
}

 /* Navigation bar styles */
 .navbar {
  background-color: #f2f2f2;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #197b99;
  color: white;
}

#spline:hover {
  background-color: #f2f2f2;
}

h1 {
  font-family: Helvetica;
}