<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/bossman.png">
    <title>Text Generation Interface</title>
    <link rel="stylesheet" href="static/css/style.css">
    
</head>
<body>
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('generate_everything') }}">Comparison</a>
        <a href="{{ url_for('agents')}}">DID Agents</a>
    </div>
    <h1>Agents</h1>

    <div class="output">
        <p>{{ talk_url }}</p>
    </div>
    <form action="/agents" method="POST">
        <button type="submit">Generate Video</button> 
    </form>
   
   
    
    
    


</body>
</html>
