<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/bossman.png">
    <title>Text Generation Interface</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('generate_everything') }}">Generation</a>
        <a href="#">Page 1</a>
        <a href="#">Page 2</a>
    </div>
    <h1>Text Generation</h1>
    <form action="/generate" method="POST">
        <label for="input-text">Company Name</label>
        <input type="text" id="input-text" name="company_name">
        <label for="input-text">Subject Summary</label>
        <input type="text" id="input-text" name="subject_summary">
        <label for="input-text">Target Audience</label>
        <input type="text" id="input-text" name="target_audience">
        <label for="input-text">Tone</label>
        <input type="text" id="input-text" name="tone">

       
        <label for="length_slider">Length: <span id="demo"></span></label>
        <div class="slidecontainer">
            <input type="range" min="20" max="150" value="75" class="slider" id="length_slider" name="slider_value">
        </div>
        <button type="submit">Generate Paragraph</button> 
        
    </form>

    <div class="output-wrapper">
        <div class="output">
            <label>ChatGPT 3.5 Turbo</label>
            <p>{{ gpt_generated_paragraph }}</p>
        </div>
    
        <div class="output">
            <label>Claude 3 Haiku</label>
            <p>{{ claude_generated_paragraph }}</p>
        </div>
    </div>
   
    <script src="static/js/script.js"></script>
</body>
</html>
